@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(233, 192, 11);
}

.calculator-body {
    width: 380px;
    height: 620px;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 10px 10px 10px #000000;
}

h1 {
    position: absolute;
    top: 2%;
    font-size: 45px;
    color: aliceblue;
    font-weight: 200;
}

/* ---------- Screen ---------- */

.screen {
    background-color: #3b3b3b;
    width: 330px;
    height: 100px;
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
}

/* ---------- Button Grid ---------- */

.btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    margin-bottom: 20px;
}

.square-btn {
    width: 80px;
    height: 80px;
    font-size: 30px;
    border-radius: 20%;
    border: none;
    display: flex;
    background: #616161;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0);
    transition: all 100ms;
    box-shadow: 5px 5px 5px #000000;
}

#equals {
    grid-column: 2 span;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0);
    transition: all 100ms;
    font-size: 30px;
    border-radius: 15px;
    background: #616161;
    box-shadow: 5px 5px 5px #000000;
}

#equals:hover {
    transform: translate(0, -3px);
    background: #01ff34;
}

.square-btn.number:hover{
    transform: translate(0, -3px);
    background: #868686;
}

.square-btn.operator:hover{
    transform: translate(0, -3px);
    background: #8572ff;
}

.square-btn.action:hover{
    transform: translate(0, -3px);
    background: #ff5858;
}
